<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPackagesExecutionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dc2tvdetl1:3078/PackagesExecutionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackagesExecutionService"
                contract="PackagesExecutionService.IPackagesExecutionService"
                name="BasicHttpBinding_IPackagesExecutionService" />
        </client>
    </system.serviceModel>
</configuration>