<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ColpatriaSAI.Seguridad.Proveedores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ColpatriaSAI.Seguridad.Proveedores.Properties.Settings.LocalSqlServer"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="ColpatriaSAI.Seguridad.Proveedores.Properties.Settings.SAIConnectionString"
      connectionString="Data Source=DC2TVDSQL1\TST2014ABC1;Initial Catalog=SAI;Persist Security Info=True;User ID=sai_admin;Password=7kYWAZj7No-aN7S"
      providerName="System.Data.SqlClient" />-->
    <add name="ColpatriaSAI.Seguridad.Proveedores.Properties.Settings.SAIConnectionString"
      connectionString="Data Source=DC2TVDSQL1\TST2014ABC1;Initial Catalog=SAI;Persist Security Info=True;User ID=sai_admin;Password=7kYWAZj7No-aN7S"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <!--<applicationSettings>
        <ColpatriaSAI.Seguridad.Proveedores.Properties.Settings>
            <setting name="ColpatriaSAI_Seguridad_Proveedores_MembershipProvider_MembershipProvider" serializeAs="String">
                <value>http://localhost/Autenticacion/MembershipProvider.asmx</value>
            </setting>
            <setting name="ColpatriaSAI_Seguridad_Proveedores_RoleProvider_RoleProvider" serializeAs="String">
                <value>http://localhost/Autenticacion/RoleProvider.asmx</value>
            </setting>
        </ColpatriaSAI.Seguridad.Proveedores.Properties.Settings>
    </applicationSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <ColpatriaSAI.Seguridad.Proveedores.Properties.Settings>
      <setting name="ColpatriaSAI_Seguridad_Proveedores_MembershipProvider_MembershipProvider"
        serializeAs="String">
        <value>http://localhost/Autenticacion/MembershipProvider.asmx</value>
      </setting>
      <setting name="ColpatriaSAI_Seguridad_Proveedores_RoleProvider_RoleProvider"
        serializeAs="String">
        <value>http://localhost/Autenticacion/RoleProvider.asmx</value>
      </setting>
    </ColpatriaSAI.Seguridad.Proveedores.Properties.Settings>
  </applicationSettings>
</configuration>
