<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ASPNETDBEntities" connectionString="metadata=res://*/UserAdmin.UserAdmin.csdl|res://*/UserAdmin.UserAdmin.ssdl|res://*/UserAdmin.UserAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EXJFCASTROC\EXJFCASTROC;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=aspnetdb;Password=aspnetdb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>