<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="SAI_Entities" connectionString="metadata=res://*/SAI_Modelo.csdl|res://*/SAI_Modelo.ssdl|res://*/SAI_Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DES-SQLUI01\DESARROLLO2008;Failover Partner=PRU-SQLUI01\PRUEBAS2008;Initial Catalog=SAI;Persist Security Info=True;User ID=sai_admin; password=7kYWAZj7No-aN7S;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SAI_Entities" connectionString="metadata=res://*/SAI_Modelo.csdl|res://*/SAI_Modelo.ssdl|res://*/SAI_Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DC2TVDSQL1\TST2014ABC1;Initial Catalog=SAI;Persist Security Info=True;User ID=sai_admin;Password=7kYWAZj7No-aN7S;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SAI_Entities" connectionString="metadata=res://*/SAI_Modelo.csdl|res://*/SAI_Modelo.ssdl|res://*/SAI_Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DC2TVDSQL4\SQL2019,61963;Initial Catalog=SAI;Persist Security Info=True;User ID=sai_admin;Password=7kYWAZj7No-aN7S;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>